*.py[cod]

# C extensions
*.so

#temp files
mbb_emcee/#*
mbb_emcee/.#*
*~
mbb_blackbody_emcee/*~

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#cython translated c module
fnu.c

# Translations
*.mo
